<html>
    <head>
        <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
        <script>
          var socket = io();
          socket.on('symbolValueUpdated', function(msg) {
            let elemIdTd = 'td-' + msg.symbol;
            let elemIdDiv = 'div-' + msg.symbol;
            let colorUp = 'blue';
            let colorDown = 'red';
            let colorEq = 'black';
            let newVal = parseInt(msg.value);
            let currVal = parseInt(document.getElementById(elemIdDiv).innerHTML);
            let diff = (newVal - currVal);
            let color = (currVal==newVal ? colorEq : (newVal<currVal) ? colorDown : colorUp);
            document.getElementById(elemIdTd).innerHTML = '<font style="color:' + color + ';"><div id="div-' + msg.symbol + '" style="float:left;">' + msg.value + '</div> (' + diff + ')</font>';
          });
        </script>
    </head>
    <body>
        <p>hello <%=username%></p>
        <form action="/symbol" method="POST">
            <label for="symbol">please add a symbol</label>
            <input type="text" name="symbol" id="symbol">
            <button>Add symbol</button>
        </form>
        
        <table id="stockSymbols">
            <% userSymbols.forEach((userSymbolRecord) => { %>
                <tr>
                    <td><%=userSymbolRecord.symbol %></td>
                    <td id="td-<%=userSymbolRecord.symbol %>"><div style="float:left;" id="div-<%=userSymbolRecord.symbol %>"><%=symbolValues.find((symbolValue) => symbolValue.symbol === userSymbolRecord.symbol)?.value  %></div></td>
                </tr>
            <% }) %>
        </table>    
    </body>
</html>
